{% load staticfiles %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <style>
            .table > tbody > tr > td{
                border-top: 0
            }
            .border_bottom{
                border-bottom: 1px solid #000;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="text-center">REPOSSESSION ORDER <br>
                <small>Date Issued: {{today_date}}</small>
            </h2>
            <table class="table">
                <tr>
                    <td>Company/Lien Holder:</td>
                    <td class="border_bottom">{{cp_holder}}</td>
                    <td>Contact:</td>
                    <td class="border_bottom">{{cp_contact}}</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td class="border_bottom">{{cp_address}}</td>
                    <td>Phone:</td>
                    <td class="border_bottom">{{cp_phone}}</td>
                </tr>
                <tr>
                    <td>City/State:</td>
                    <td class="border_bottom">{{cp_city_state}}</td>
                    <td>Fax:</td>
                    <td class="border_bottom">{{cp_fax}}</td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td class="border_bottom">{{cp_zip}}</td>
                    <td>Account#:</td>
                    <td class="border_bottom">{{cp_account}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Loan#:</td>
                    <td class="border_bottom">{{cp_loan}}</td>
                </tr>
            </table>
            
            <hr style="border-bottom: 2px solid 1px;">
            <h3 class="text-center">DEBTOR/LESSEE INFORMATION</h3>
            <hr style="border-bottom: 2px solid 1px;">
            <table class="table">
                
                <tr>
                    <td>Debtor:</td>
                    <td class="border_bottom">{{db_name}}</td>
                    <td>Spouse:</td>
                    <td class="border_bottom">{{ds_name}}</td>
                </tr>
                <tr>
                    <td>Debtor Address:</td>
                    <td class="border_bottom">{{db_address}}</td>
                    <td>Address:</td>
                    <td class="border_bottom">{{ds_address}}</td>
                </tr>
                <tr>
                    <td>City, ST, Zip:</td>
                    <td class="border_bottom">{{db_city_zip}}</td>
                    <td>City, ST Zip:</td>
                    <td class="border_bottom">{{ds_city_zip}}</td>
                </tr>
                <tr>
                    <td>Home Phone:</td>
                    <td class="border_bottom">{{db_phone}}</td>
                    <td>Phone:</td>
                    <td class="border_bottom">{{ds_phone}}</td>
                </tr>
                <tr>
                    <td>Employer:</td>
                    <td class="border_bottom">{{db_employer}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Emp Address:</td>
                    <td class="border_bottom">{{db_em_address}}</td>
                    <td>Employer:</td>
                    <td class="border_bottom">{{ds_employer}}</td>
                </tr>
                <tr>
                    <td>Emp City, ST,Zip:</td>
                    <td class="border_bottom">{{db_emp_city_zip}}</td>
                    <td>Address:</td>
                    <td class="border_bottom">{{ds_emp_address}}</td>
                </tr>
                <tr>
                    <td>Bus Phone/Cell Ph:</td>
                    <td class="border_bottom">{{db_emp_phone}}</td>
                    <td>City, ST, Zip</td>
                    <td class="border_bottom">{{ds_emp_city_zip}}</td>
                </tr>
                <tr>
                    <td>SSN#:</td>
                    <td class="border_bottom">{{db_ssn}}</td>
                    <td>Bus Phone:</td>
                    <td class="border_bottom">{{ds_bus_phone}}</td>
                </tr>
                <tr>
                    <td>DL:</td>
                    <td class="border_bottom">{{db_dl}}</td>
                    <td>Cell Phone:</td>
                    <td class="border_bottom">{{ds_emp_phone}}</td>
                </tr>
            </table>
            <hr style="border-bottom: 2px solid 1px;">
            <h3 class="text-center">ASSET INFORMATION</h3>
            <hr style="border-bottom: 2px solid 1px;">
            
            <table class="table"> 
                <tr>
                    <td>Stock #:</td>
                    <td class="border_bottom">{{stock}}</td>
                    <td>Color:</td>
                    <td class="border_bottom">{{color}}</td>
                </tr>
                <tr>
                    <td>Year:</td>
                    <td class="border_bottom">{{year}}</td>
                    <td>Ignition #:</td>
                    <td class="border_bottom">{{ignition}}</td>
                </tr>
                <tr>
                    <td>Make:</td>
                    <td class="border_bottom">{{make}}</td>
                    <td>License:</td>
                    <td class="border_bottom">{{license}}</td>
                </tr>
                <tr>
                    <td>Model:</td>
                    <td class="border_bottom">{{model}}</td>
                    
                </tr>
                <tr>
                    <td>VIN #:</td>
                    <td class="border_bottom">{{vin}}</td>
                    <td>GPS ESN:</td>
                    <td class="border_bottom">{{gps_esn}}</td>
                </tr>
            </table>
            
            <hr style="border-bottom: 2px solid 1px;">
            <h3 class="text-center">PAYMENT INFORMATION</h3>
            <hr style="border-bottom: 2px solid 1px;">
            <table class="table">
                <tr>
                    <td>Payment Due Date:</td>
                    <td class="border_bottom">{{payment_due_date}}</td>
                    <td>Partial Payment Schedule</td>
                    <td>Late Fee</td>
                </tr>
                <tr>
                    <td>Past Due Amount:</td>
                    <td class="border_bottom">{{past_due_amount}}</td>
                </tr>
                <tr>
                    <td>Late Charge Fees:</td>
                    <td class="border_bottom">{{late_charge_fee}}</td>
                </tr>
                <tr>
                    <td>Est Balance Owned:</td>
                    <td class="border_bottom">{{est_balance_owned}}</td>
                </tr>
                <tr>
                    <td>Days Past Due:</td>
                    <td class="border_bottom">{{days_past_due}}</td>
                </tr>
                <tr>
                    <td>Contract Date:</td>
                    <td class="border_bottom">{{contract_date}}</td>
                </tr>
            </table>
            
            <hr style="border-bottom: 2px solid 1px;">
            <h3 class="text-center">AGREEMENT</h3>
            <hr style="border-bottom: 2px solid 1px;">
            <p>
                THIS IS AN AUTHORIZATION FOR _________________________________________ TO ACT IN BEHALF
                OF LEGAL OWNER AS REPOSSESSOR FOR THE ABOVE MENTIONED VEHICLE.
            </p>
            <p>
                REPOSSESSOR IS HEREBY AUTHORIZED TO REPOSSESS THE ABOVE DESCRIBED VEHICLE. IT IS
                UNDERSTOOD THAT YOU WILL ACT AS AN INDEPENDENT CONTRACTOR AND NOT AS OUR EMPLOYEE.
                THE TIME, MANNER, AND METHOD OF PERFORMANCE OF ANY SUCH SERVICES SHALL BE DETERMINED
                SOLELY BY YOU.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <span>Company Signature: </span>
                    {% if signiture %}
                        <span class="border_bottom"><img src="{% url signiture.url %}" style="max-height: 50px;" /></span>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <span>Date: </span>
                    <span class="border_bottom">{{today_date}}</span>
                </div>
            </div>
            
        </div>
    </body>
</html>
